In [31]:
import requests
import xmltodict
import pandas as pd
from textblob import TextBlob

In [3]:
avinor_url = "https://flydata.avinor.no/XmlFeed.asp?TimeFrom=1&TimeTo=24&airport=OSL&direction=D"
avinor_response = requests.get(avinor_url)

In [30]:
fligths = xmltodict.parse(avinor_response.text)

dict_keys

In [5]:
xml_data = avinor_response.text
data_dict = xmltodict.parse(xml_data)

flights = data_dict['airport']['flights']['flight']
df_flights = pd.DataFrame(flights)

airlines_to_exclude = ["JUL", "BRR"]

df_flights = df_flights[~df_flights["airline"].isin(airlines_to_exclude)]
df_flights["airline"] = df_flights["airline"].replace("TRK", "TK")
df_flights.drop(columns=["gate", "via_airport", "check_in", "status", "delayed"], inplace=True)

In [6]:
df_flights

    @uniqueID airline flight_id dom_int         schedule_time arr_dep airport
5    12095902      TK    TRK005       I  2023-12-15T14:00:00Z       D     ESB
13   12050282      SK     SK344       D  2023-12-20T12:15:00Z       D     TRD
14   12050773      DY    DY1802       S  2023-12-20T12:15:00Z       D     AGP
15   12050516      DY     DY612       D  2023-12-20T12:20:00Z       D     BGO
16   12050366      DY     DY362       D  2023-12-20T12:25:00Z       D     EVE
..        ...     ...       ...     ...                   ...     ...     ...
301  12052434      BT     BT816       S  2023-12-21T13:45:00Z       D     TLL
302  12053148      SK     SK809       I  2023-12-21T14:00:00Z       D     LHR
303  12052939      DY     DY378       D  2023-12-21T14:00:00Z       D     TOS
304  12053072      DY     DY816       S  2023-12-21T14:00:00Z       D     ARN
305  12052404      QR     QR176       I  2023-12-21T14:00:00Z       D     DOH

[294 rows x 7 columns]

In [7]:
for idx, i in enumerate(df_flights["airport"].unique()):
    print(idx, i)

0 ESB
1 TRD
2 AGP
3 BGO
4 EVE
5 CPH
6 SVG
7 ARN
8 HAU
9 DXB
10 KRS
11 AAR
12 TOS
13 FDE
14 HOV
15 BDU
16 DOH
17 LHR
18 MAD
19 AES
20 LGW
21 BLL
22 BOO
23 AMS
24 FRA
25 OSL
26 KSU
27 FRO
28 BRU
29 DUS
30 ALF
31 MOL
32 HEL
33 CDG
34 AAL
35 RRS
36 IST
37 ADD
38 MUC
39 ALC
40 RIX
41 WAW
42 VNO
43 SDN
44 KRK
45 STN
46 GDN
47 AYT
48 LPA
49 NCE
50 BER
51 KEF
52 KKN
53 ZRH
54 OLA
55 BCN
56 GVA
57 KTW
58 LYR
59 FCO
60 BEG
61 PRG
62 DUB
63 BUD
64 MXP
65 EWR
66 MAN
67 TLL
68 EDI
69 TFS
70 SSJ
71 ATH
72 PLQ
73 HAM
74 BKK

In [32]:
with open("api_news.txt") as api:
    api_key = api.readline()

In [33]:
query = 'British Airways'

news_url = f'https://newsapi.org/v2/everything?q={query}&apiKey={api_key}'

news_response = requests.get(news_url)

if news_response.ok:
    news_data = news_response.json().get('articles', [])

In [34]:
for i, article in enumerate(news_data):

    text_to_analyze = article["title"] if article["description"] is None else article["description"]

    if i == 0:
        score = TextBlob(text_to_analyze).sentiment.polarity
    else:
        score += TextBlob(text_to_analyze).sentiment.polarity
        
score = score/len(news_data)

In [35]:
if score > 0:
    sentiment = "positive"
elif score < -0.05:
    sentiment = "negative"
else:
    sentiment = "medium"
print(score)
sentiment

0.0783910533910534

'positive'

In [12]:
for idx, i in enumerate(df_flights["airline"].unique()):
    print(idx, i)

0 TK
1 SK
2 DY
3 EK
4 WF
5 QR
6 IB
7 BA
8 LH
9 D8
10 DX
11 KL
12 AY
13 AF
14 SN
15 ET
16 BT
17 LO
18 FR
19 W6
20 RK
21 DK
22 LX
23 JU
24 A3
25 FI
26 N0