In [1]:
import psycopg2
import pandas as pd

In [4]:
df_original = pd.read_json(r"gold\airlines.json")
df_draft = df_original.copy()

In [3]:
with open("db_connection.txt") as db_info:
    conn_string = db_info.readline()

conn = psycopg2.connect(conn_string)
if conn.closed == 0:
    print("Connection established")

Connection established

In [5]:
df_draft

   code                           name airline_sentiment
0    AF                     Air France          positive
1    AY                        Finnair          positive
2    A3                Aegean Airlines          positive
3    BA                British Airways          positive
4    BT                     Air Baltic          positive
5    DK              Sunclass Airlines          positive
6    DX                            DAT          positive
7    DY                      Norwegian          positive
8    D8                      Norwegian          positive
9    EK                       Emirates          positive
10   ET             Ethiopian Airlines          positive
11   FI                     Icelandair          positive
12   FR                        Ryanair          positive
13   IB                         Iberia          positive
14   JU                     Air Serbia          positive
15   KL                            KLM          positive
16   LH                      Lufthansa          positive
17   LO           LOT- Polish Airlines          positive
18   LX  Swiss International Air Lines          positive
19   N0         Norse Atlantic Airways          positive
20   PC               Pegasus Airlines          positive
21   QR                  Qatar Airways          positive
22   RK                     Ryanair UK          positive
23   SK                            SAS          positive
24   SN              Brussels Airlines          positive
25   TK               Turkish Airlines          positive
26   TP                   TAP Portugal          positive
27   WF                        Widerøe          positive
28   W6                        Wizzair            medium

In [6]:
cur = conn.cursor()

for index, row in df_draft.iterrows(): 
    formatted_values = [
        f"'{value}'" if isinstance(value, (str, pd.Timestamp)) else str(value)
        for value in row.values
    ]

    query = f"""
        INSERT INTO airlines 
        ({', '.join(df_draft.columns)}) 
        VALUES 
        ({', '.join(formatted_values)});
    """

    try:
        cur.execute(query)
    except Exception as e:
        print(f"Error inserting row {index}: {e}")

cur.close()

In [7]:
conn.commit()